
@model SistemaIndexador.Application.ViewModels.DadosIndexacaoViewModel




<div style="margin:100px 0 0 0">


    @if (Model != null && Model.ListaAquivos.Count > 0)
    {
        foreach (var item in Model.ListaAquivos)
        {





        }
    }



</div>

